.kana {
  color: antiquewhite;
  background: none;
  font-size: 10em;
  position: relative;
  small {
    font-size: 0.15em;
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    bottom: -10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.typeToggler {
  background-color: #00001f;
  color: white;
  &:hover,
  &:active {
    background-color: #00001f;
    color: white;
  }
  &[data-toggled="true"] {
    background-color: grey;
    color: black;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}

.kanaSelectionOuter {
  // display: none;
  @extend .popup;
  font-size: 1.5rem;
  .kanaSelectionInner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
    background-color: #16162b;
    border-radius: 100px;
    .innerInner {
      overflow: auto;
      width: 70%;
      height: 90%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(1.2rem, 1fr));
    }
    .x {
      content: "x";
      font-family: monospace;
      position: absolute;
      top: 0;
      right: 0;
      color: antiquewhite;
      cursor: pointer;
      background-color: red;
      border-radius: 100%;
      width: 1.7em;
      height: 1.7em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.answer {
  @extend .popup;
}

.answerPopup {
  font-size: 5em;
}

.answerInner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}
