.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  // height: 90vh;
  width: 80vw;
}
.kanji {
  font-size: 5rem;
  margin: 1rem;
}
.modal {
  .button {
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
  }
}
.input {
  width: 100%;
}
.reveal_kanji {
  font-size: 5rem;
  margin: 1rem;
}

.choices {
  display: grid;
  width: 100%;
  gap: 2em;
  margin-bottom: 10px;

  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.choice {
  aspect-ratio: 3/1;
  width: 300px;
  height: auto;
  background-color: #060619;
  border: 0.25em black solid;
  border-radius: 4px;
  display: flex;

  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: #09092e;
    transform: scale(1.1);
    // box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  }
}

.wrong {
  transition: all 0.5s ease-in-out;
  color: #cdcdcd;
  background-color: rgb(195, 1, 1);
}

.shake {
  animation: shake 0.2s linear 5;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

.buttons {
  // background-color: #060619;
  // border: 0.25em black solid;
  // border-radius: 4px;
  // color: #fafafa;
}
