@mixin noScrollbar() {
  @include scrollbars(0px, transparent, transparent, 0px);

  // For Google Chrome
  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }
}

@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%),
  $radius: 10px
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: $radius;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

/// Viewport sized typography with minimum and maximum values
///
/// @author Eduardo Boucas (@eduardoboucas)
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
/// @example scss - 5vw font size (with 50px fallback),
///                 minumum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px, 50px);
///
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == "vh", "height", "width");
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}

$gradient: var(--gradient);
:root {
  --gradient: linear-gradient(to right, purple, cyan, purple);
  --background-color: #16162b;
  --topbar-outer-background-color: #06061b;
  --text-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color-scheme: dark;
}

sup {
  font-size: 0.6em;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--text-font-family);
  background-color: var(--background-color);
  color: #efefef;
  @include responsive-font(2vw, 16px, 28px, 20px);
}

h1 {
  // @include responsive-font(3vw, 24px, 64px, 48px);
  font-size: 2.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-image: $gradient;
  color: transparent;
  background-clip: text;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  text-align: center;
  @include noScrollbar();

  @media screen and (min-width: 768px) {
    @include scrollbars(0.5rem, #202040, #00001f, 20px);
  }
}

button,
input[type="text"] {
  border: black 0.2rem solid;
  background-color: grey;
  color: black;
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 5px;
}

button {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  &:hover {
    background-color: #202040;
    color: white;
  }
  &:active {
    background-color: #00001f;
    color: white;
  }
  &:disabled {
    background-color: #202040;
    color: grey;
    border-color: #111;
    cursor: not-allowed;
  }
}

input,
select {
  font: inherit;
}

img {
  max-width: 90%;
}

dialog {
  width: 100vw;
  height: 100vh;
  background-color: #111125;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  &::backdrop {
    background-color: #000000;
    opacity: 0.75;
  }
}
